@font-face{
  font-family: 'Graphik-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Graphik-Regular'),
       url('../fonts/Graphik-Regular.woff2') format('woff2'),
       url('../fonts/Graphik-Regular.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'Graphik-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Graphik-Medium'),
       url('../fonts/Graphik-Medium.woff2') format('woff2'),
       url('../fonts/Graphik-Medium.woff') format('woff');
  font-display: swap;
}

@font-face{
  font-family: 'DINPro-CondensedBold';
  font-weight: 700;
  font-style: normal;
  src: local('DINPro-CondensedBold'),
       url('../fonts/DINPro-CondensedBold.woff2') format('woff2'),
       url('../fonts/DINPro-CondensedBold.woff') format('woff');
  font-display: swap;
}