$accent: #FF5050;
$text: #0D0D0D;

%graphik-400{
  font-family: 'Graphik-Regular', sans-serif;
  font-weight: 400;
}

%graphik-500{
  font-family: 'Graphik-Medium', sans-serif;
  font-weight: 500;
}

%din-700{
  font-family: 'DINPro-CondensedBold', sans-serif;
  font-weight: 700;
}

%title{
  @extend %din-700;
  font-size: 60px;
  line-height: 55px;
  text-transform: uppercase;
}

%checkbox-hidden{
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@media (max-width: 620px){
  %title{
    font-size: 36px !important;
    line-height: 32px !important;
  }
}