@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  padding: 20px 0;
  &__container{
    max-width: 1740px;
    padding: 0 10px;
    margin: 0 auto;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav-list{
    display: flex;
  }
  &__nav-item{
    &:nth-child(1){
      .header__nav-link{
        padding-right: 18px;
        &::before{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          top: 1px;
          right: 0;
          background-image: url('../images/icons/plus-sign.svg');
        }
      }
    }
    &:nth-child(2){
      .header__nav-link{
        padding-right: 18px;
        &::before{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          top: 1px;
          right: 0;
          background-image: url('../images/icons/plus-sign.svg');
        }
      }
    }
    &:nth-child(4){
      .header__nav-link{
        padding-left: 20px;
        &::before{
          content: '';
          position: absolute;
          width: 16px;
          height: 16px;
          top: -2px;
          left: 0;
          background-image: url('../images/icons/gift-icon.svg');
        }
      }
    }
    & + .header__nav-item{
      margin-left: 50px;
    }
  }
  &__nav-link{
    color: $text;
    @extend %graphik-500;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    position: relative;
  }
  &__box{
    display: flex;
    align-items: center;
  }
  &__login{
    color: $text;
    @extend %graphik-500;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    margin-right: 50px;
  }
  &__search{
    margin-right: 50px;
  }
  &__box-user{
    display: flex;
  }
  &__heart{
    margin-right: 50px;
  }
}

.footer{
  background-color: #262425;
  color: #fff;
  &__top{
    padding: 100px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  &__top-inner{
    display: flex;
  }
  &__top-logo{
    margin-right: 150px;
  }
  &__logo-link{
    width: 264px;
    height: 60px;
  }
  &__item{
    display: flex;
    flex-direction: column;
    & + .footer__item{
      margin-left: 95px;
    }
  }
  &__item-link{
    color: #fff;
    text-transform: uppercase;
    @extend %graphik-500;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 34px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__item-link--gift{
    position: relative;
    padding-left: 16px;
    &::before{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: -3px;
      left: 0;
      background-image: url('../images/icons/gift-icon.svg');
    }
  }
  &__box{
    width: 280px;
    margin-left: auto;
  }
  &__box-title{
    @extend %graphik-500;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  &__box-form{
    position: relative;
    margin-bottom: 50px;
  }
  &__box-input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
    outline: none;
    caret-color: #fff;
    color: #fff;
    &::placeholder{
      font-size: 16px;
      color: #fff;
      opacity: 0.4;
    }
  }
  &__box-btn{
    position: absolute;
    top: 4px;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    path{
      transition: all .3s ease-in-out;
    }
    &:hover{
      path{
        fill: $accent;
      }
    }
  }
  &__socials-list{
    display: flex;
    align-items: center;
  }
  &__socials-item{
    path{
      transition: all .3s ease-in-out;
    }
    & + .footer__socials-item{
      margin-left: 30px;
    }
    &:hover{
      path{
        fill: $accent;
      }
    }
  }
  &__bottom{
    padding: 22px 0;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom-copy,
  &__bottom-link{
    color: #fff;
    opacity: 0.4;
    font-size: 14px;
    line-height: 15px;
  }
}

.top{
  padding: 117px 0;
  background-color: $accent;
  color: #fff;
  background-image: url('../images/top-bg.svg');
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    width: 1060px;
    height: 600px;
    bottom: -1px;
    right: 0;
    background-image: url('../images/shirt.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__container{
    max-width: 1470px;
    padding: 0 10px;
    margin: 0 auto;
  }
  &__title{
    @extend %din-700;
    font-size: 100px;
    line-height: 91px;
    margin-bottom: 30px;
    max-width: 322px;
  }
  &__text{
    margin-bottom: 50px;
    max-width: 378px;
  }
  &__link{
    color: $text;
    background-color: #fff;
    padding: 20px 44px;
    @extend %din-700;
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.limited{
  padding: 100px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__textbox{
    max-width: 417px;
  }
  &__text{
    @extend %title;
    span{
      color: $accent;
    }
  }
  &__box{
    max-width: 600px;
  }
  &__box-item{
    margin-bottom: 20px;
    color:rgba(#0D0D0D, 0.6);
    padding-left: 40px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
      opacity: 1;
      background-image: url('../images/icons/tick.svg');
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.box{
  padding-bottom: 116px;
  &__inner{
    background-color: #FFF6F6;
    padding: 85px 74px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 16px;
      top: -15px;
      background-image: url('../images/content/box/bg-top.svg');
      background-position: center center;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 16px;
      bottom: -15px;
      background-image: url('../images/content/box/bg-bottom.svg');
      background-position: center center;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__info{
    max-width: 480px;
  }
  &__info-title{
    @extend %title;
    margin-bottom: 50px;
  }
  &__info-item{
    margin-bottom: 20px;
    padding-left: 48px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
    }
    &:nth-child(1)::before{
      background-image: url('../images/icons/box-1.png');
    }
    &:nth-child(2)::before{
      background-image: url('../images/icons/box-2.png');
    }
    &:nth-child(3)::before{
      background-image: url('../images/icons/box-3.png');
    }
    &:nth-child(4)::before{
      background-image: url('../images/icons/box-4.png');
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__items{
    column-count: 3;
    column-gap: 20px;
    row-gap: 20px;
    max-width: 490px;
  }
  &__item{
    margin-bottom: 20px;
  }
}

.geek{
  background-color: #f8f8f8;
  padding: 100px 0;
  &__title{
    @extend %title;
    margin-bottom: 80px;
    text-align: center;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 390px;
  }
  &__item-box{
    background-color: #fff;
    padding: 24px 24px 28px 24px;
    margin-bottom: 40px;
  }
  &__item-imgbox{
    width: 340px;
    height: 340px;
    margin-bottom: 25px;
    img{
      width: 340px;
      height: 340px;
      object-fit: cover;
    }
  }
  &__item-position{
    @extend %din-700;
    font-size: 26px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  &__item-descr{
    opacity: 0.6;
  }
}



@import 'media';