@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  &__container{
    max-width: 1740px;
    padding: 0 10px;
    margin: 0 auto;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__wrapper{
    display: none;
  }
  &__wrapper-search{
    display: none;
  }
  &__nav-list{
    display: flex;
  }
  &__nav-item{
    &:nth-child(1){
      .header__nav-link{
        padding-right: 18px;
        &::before{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          top: 1px;
          right: 0;
          background-image: url('../images/icons/plus-sign.svg');
        }
      }
    }
    &:nth-child(2){
      .header__nav-link{
        padding-right: 18px;
        &::before{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          top: 1px;
          right: 0;
          background-image: url('../images/icons/plus-sign.svg');
        }
      }
    }
    &:nth-child(4){
      .header__nav-link{
        padding-left: 20px;
        &::before{
          content: '';
          position: absolute;
          width: 16px;
          height: 16px;
          top: -2px;
          left: 0;
          background-image: url('../images/icons/gift-icon.svg');
        }
      }
    }
    & + .header__nav-item{
      margin-left: 50px;
    }
  }
  &__nav-link{
    color: $text;
    @extend %graphik-500;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    position: relative;
    border: none;
    background-color: transparent;
  }
  &__nav-item__list{
    display: none;
  }
  &__nav-login__link{
    display: none;
    @extend %graphik-500;
  }
  &__box{
    display: flex;
    align-items: center;
  }
  &__login{
    color: $text;
    @extend %graphik-500;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    margin-right: 50px;
  }
  &__search{
    margin-right: 50px;
  }
  &__box-user{
    display: flex;
  }
  &__heart{
    margin-right: 50px;
  }
}

.burder{
  display: none;
}

.footer{
  background-color: #262425;
  color: #fff;
  &__top{
    padding: 100px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  &__top-inner{
    display: flex;
  }
  &__top-logo{
    margin-right: 150px;
  }
  &__logo-link{
    width: 264px;
    height: 60px;
  }
  &__items{
    display: flex;
  }
  &__item{
    display: flex;
    flex-direction: column;
    & + .footer__item{
      margin-left: 95px;
    }
  }
  &__item-link{
    color: #fff;
    text-transform: uppercase;
    @extend %graphik-500;
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 34px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__item-link--gift{
    position: relative;
    padding-left: 16px;
    &::before{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      top: -3px;
      left: 0;
      background-image: url('../images/icons/gift-icon.svg');
    }
  }
  &__box{
    width: 280px;
    margin-left: auto;
  }
  &__box-title{
    @extend %graphik-500;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  &__box-form{
    position: relative;
    margin-bottom: 50px;
  }
  &__box-input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    padding-bottom: 20px;
    outline: none;
    caret-color: #fff;
    color: #fff;
    &::placeholder{
      font-size: 16px;
      color: #fff;
      opacity: 0.4;
    }
  }
  &__box-btn{
    position: absolute;
    top: 4px;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    path{
      transition: all .3s ease-in-out;
    }
    &:hover{
      path{
        fill: $accent;
      }
    }
  }
  &__socials-list{
    display: flex;
    align-items: center;
  }
  &__socials-item{
    path{
      transition: all .3s ease-in-out;
    }
    & + .footer__socials-item{
      margin-left: 30px;
    }
    &:hover{
      path{
        fill: $accent;
      }
    }
  }
  &__bottom{
    padding: 22px 0;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom-copy,
  &__bottom-link{
    color: #fff;
    opacity: 0.4;
    font-size: 14px;
    line-height: 15px;
  }
}

.top{
  padding: 117px 0;
  background-color: $accent;
  color: #fff;
  background-image: url('../images/top-bg.svg');
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    width: 1060px;
    height: 600px;
    bottom: -1px;
    right: 0;
    background-image: url('../images/shirt.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__container{
    max-width: 1470px;
    padding: 0 10px;
    margin: 0 auto;
  }
  &__title{
    @extend %din-700;
    font-size: 100px;
    line-height: 91px;
    margin-bottom: 30px;
    max-width: 322px;
  }
  &__text{
    margin-bottom: 50px;
    max-width: 378px;
  }
  &__link{
    display: inline-block;
    color: $text;
    background-color: #fff;
    padding: 20px 44px;
    @extend %din-700;
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
  }
}

.limited{
  padding: 100px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__textbox{
    max-width: 417px;
  }
  &__text{
    @extend %title;
    span{
      color: $accent;
    }
  }
  &__box{
    max-width: 600px;
  }
  &__box-item{
    margin-bottom: 20px;
    color:rgba(#0D0D0D, 0.6);
    padding-left: 40px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
      opacity: 1;
      background-image: url('../images/icons/tick.svg');
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.box{
  padding-bottom: 116px;
  &__inner{
    background-color: #FFF6F6;
    padding: 85px 74px;
    display: flex;
    justify-content: space-between;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 16px;
      top: -15px;
      background-image: url('../images/content/box/bg-top.svg');
      background-position: center center;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 16px;
      bottom: -15px;
      background-image: url('../images/content/box/bg-bottom.svg');
      background-position: center center;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__info{
    max-width: 480px;
  }
  &__info-title{
    @extend %title;
    margin-bottom: 50px;
  }
  &__info-item{
    margin-bottom: 20px;
    padding-left: 48px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      top: 0;
      left: 0;
    }
    &:nth-child(1)::before{
      background-image: url('../images/icons/box-1.png');
    }
    &:nth-child(2)::before{
      background-image: url('../images/icons/box-2.png');
    }
    &:nth-child(3)::before{
      background-image: url('../images/icons/box-3.png');
    }
    &:nth-child(4)::before{
      background-image: url('../images/icons/box-4.png');
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__items{
    column-count: 3;
    column-gap: 20px;
    row-gap: 20px;
    max-width: 490px;
  }
  &__item{
    margin-bottom: 20px;
  }
}

.geek{
  background-color: #f8f8f8;
  padding: 100px 0 116px;
  &__title{
    @extend %title;
    margin-bottom: 80px;
    text-align: center;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 390px;
  }
  &__item-box{
    background-color: #fff;
    padding: 24px 24px 28px 24px;
    margin-bottom: 40px;
  }
  &__item-imgbox{
    width: 340px;
    height: 340px;
    margin-bottom: 25px;
    img{
      width: 340px;
      height: 340px;
      object-fit: cover;
    }
  }
  &__item-position{
    @extend %din-700;
    font-size: 26px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
  }
  &__item-descr{
    opacity: 0.6;
  }
}

.day{
  padding: 100px 0;
  &__toptitle{
    @extend %din-700;
    font-size: 20px;
    line-height: 18px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
  }
  &__title{
    @extend %title;
    margin-bottom: 40px;
  }
  &__text{
    max-width: 387px;
    opacity: 0.6;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transform: translateY(-50px);
  }
  &__item{
    &:nth-child(1){
      transform: translateY(-50px);
    }
    &:nth-child(4){
      transform: translateY(-50px);
    }
    &:nth-child(5){
      transform: translateY(-100px);
    }
    &:nth-child(6){
      transform: translateY(-150px);
    }
  }
  &__item-img{
    margin-top: 25px;
  }
  &__linkbox{
    display: flex;
    justify-content: flex-end;
    transform: translateY(-50px);
  }
  &__link{
    @extend %din-700;
    font-size: 22px;
    padding: 20px 40px;
    text-transform: uppercase;
    color: #fff;
    background-color: $accent;
  }
  &__info{
    background-color: #FFF6F6;
    padding: 80px 65px;
    margin-top: 45px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 16px;
      top: -15px;
      background-image: url('../images/content/box/bg-top.svg');
      background-position: center center;
      left: 50%;
      transform: translateX(-50%);
    }
    &::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 16px;
      bottom: -15px;
      background-image: url('../images/content/box/bg-bottom.svg');
      background-position: center center;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__info-items{
    display: flex;
    justify-content: space-between;
  }
  &__info-item{
    width: 250px;
    padding-top: 64px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 34px;
      height: 34px;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &:nth-child(1)::before{
      background-image: url('../images/content/day/info-1.svg');
    }
    &:nth-child(2)::before{
      background-image: url('../images/content/day/info-2.svg');
    }
    &:nth-child(3)::before{
      background-image: url('../images/content/day/info-3.svg');
    }
    &:nth-child(4)::before{
      background-image: url('../images/content/day/info-4.svg');
    }
  }
  &__info-item__descr{
    opacity: 0.6;
  }
}

.plan{
  background-color: #f8f8f8;
  padding: 100px 0;
  &__title{
    @extend %title;
    text-align: center;
    margin-bottom: 30px;
  }
  &__subtitle{
    text-align: center;
    margin-bottom: 85px;
    span{
      @extend %graphik-500;
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
  }
  &__item{
    background-color: #fff;
    width: 390px;
    height: 700px;
    padding: 40px 40px 0 40px;
  }
  &__item-name{
    display: block;
    @extend %din-700;
    font-size: 26px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__item-price{
    display: flex;
    margin-bottom: 30px;
    p{
      font-size: 16px;
      opacity: 0.4;
      margin-top: 18px;
    }
    div{
      margin-right: 8px;
      @extend %graphik-500;
      font-size: 46px;
      line-height: 50px;
      span{
        font-size: 35px;
        line-height: 38px;
      }
    }
  }
  &__item-imgbox{
    background-image: url('../images/content/plan/imgbox-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &__item-img{
    width: 308px;
    height: 305px;
    object-fit: contain;
  }
  &__item-list__name{
    display: block;
    @extend %graphik-500;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
  }
  &__item-list__item{
    font-size: 16px;
    padding-left: 28px;
    margin-bottom: 8px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      top: 5px;
      left: 0;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__item-list__item--checked{
    &::before{
      background-image: url('../images/icons/plan-checked.svg');
    }
  }
  &__item-list__item--disabled{
    opacity: 0.6;
    &::before{
      background-image: url('../images/icons/plan-disabled.svg');
      opacity: 0.6;
    }
  }
  &__item-linkbox{
    display: flex;
    justify-content: center;
    transform: translateY(35px);
  }
  &__item-link{
    color: #fff;
    background-color: $accent;
    @extend %din-700;
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 20px 38px;
  }
  &__descr{
    text-align: center;
  }
  &__subdescr{
    text-align: center;
    @extend %graphik-500;
  }
}

.month{
  padding: 100px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__content{
    max-width: 416px;
  }
  &__title{
    @extend %title;
    margin-bottom: 40px;
  }
  &__text-box{
    opacity: 0.6;
    margin-bottom: 40px;
  }
  &__text{
    margin-bottom: 17px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  &__link{
    display: inline-block;
    color: #fff;
    background-color: $accent;
    @extend %din-700;
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 20px 38px;
  }
  &__imgbox{
    padding: 60px 0;
    background-color: #F1F4F9;
  }
}

.slider{
  background-image: url('../images/slider-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 100px 0;
  color: #fff;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('../images/slider-bg-linear.png');
  }
  .swiper-slide{
    padding: 200px 0;
    &__toptitle{
      @extend %din-700;
      font-size: 20px;
      line-height: 18px;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    &__title{
      @extend %title;
      color: #fff;
      margin-bottom: 40px;
    }
    &__text{
      max-width: 387px;
      margin-bottom: 50px;
    }
    &__link{
      display: inline-block;
      color: #fff;
      background-color: $accent;
      @extend %din-700;
      font-size: 22px;
      line-height: 20px;
      text-transform: uppercase;
      padding: 20px 38px;
    }
  }
  .swiper-pagination{
    bottom: 0;
    width: auto;
  }
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0;
  }
  .swiper-pagination-bullet{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    opacity: 1;
    & + .swiper-pagination-bullet{
      margin-left: 20px !important;
    }
  }
  .swiper-pagination-bullet-active{
    background-color: #fff;
  }
}

.designs{
  padding: 100px 0;
  &__title{
    @extend %title;
    text-align: center;
    margin-bottom: 80px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 390px;
    width: 100%;
    &:hover{
      .designs__imgbox{
        background: rgb($text, 0.05);
      }
      .designs__cartbox{
        transform: translateY(0);
      }
    }
  }
  &__imgbox{
    max-width: 390px;
    width: 100%;
    height: 390px;
    transition: all .3s ease-in-out;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
  }
  &__img{
    display: block;
    margin: 0 auto;
    max-width: 390px;
    width: 100%;
    height: 390px;
    object-fit: contain;
  }
  &__cartbox{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 10px;
    transform: translateY(200%);
    transition: all .3s ease-in-out;
  }
  &__cart-link{
    display: block;
    background-color: #fff;
    padding: 20px 0;
    @extend %din-700;
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    color: $text;
  }
  &__name{
    text-align: center;
    @extend %din-700;
    font-size: 26px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &__price{
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &__form{
    display: flex;
    justify-content: center;
  }
  &__label{
    cursor: pointer;
    & + .designs__label{
      margin-left: 8px;
    }
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .designs__checkbox{
      border: 1px solid #D7D7D7;
    }
  }
  &__checkbox{
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 16px;
      height: 16px;
      background-color: #BDBDBD;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }
  &__checkbox--black::before{
    background-color: $text;
  }
  &__checkbox--red::before{
    background-color: #EB5757;
  }
  &__checkbox--yellow::before{
    background-color: #F2C94C;
  }
  &__checkbox--white::before{
    border: 1px solid #E0E0E0;
    background-color: #fff;
  }
}

.compliment{
  padding: 100px 0;
  background-color: #f8f8f8;
  text-align: center;
  &__title{
    @extend %din-700;
    font-size: 20px;
    line-height: 18px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
}

.swiper-compliment{
  .swiper-wrapper{
    padding-bottom: 70px;
  }
  .swiper-slide-active{
    transition: all .3s ease-in-out;
  }
  .swiper-slide-prev{
    transform: translateX(-135px);
    opacity: 0.2;
    transition: all .3s ease-in-out;
  }
  .swiper-slide-next{
    transform: translateX(135px);
    opacity: 0.2;
    transition: all .3s ease-in-out;
  }
  .swiper-pagination{
    bottom: 0;
  }
  .swiper-pagination-bullet{
    border: 1px solid $text;
    background-color: transparent;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: $text;
  }
  &__blockquote{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    @extend %graphik-500;
    font-size: 30px;
    line-height: 33px;
    margin-bottom: 30px;
  }
  &__author{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    @extend %din-700;
    font-size: 20px;
    line-height: 18px;
    opacity: 0.4;
    text-transform: uppercase;
  }
}

.partners{
  padding: 100px 0;
  &__title{
    @extend %din-700;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
  }
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}



@import 'media';